@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #067969;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 62.5%;
}
div,
ul,
a,
h1,
h2,
p,
img,
button,
input{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.btn{
    padding: .5rem 4rem;
    font-size: 3rem;
    margin-left: 1rem;
    background:none;
    border:.3rem solid white;
    border-radius: .5rem;
    color: white;
    transition: .4s;
}
.btn:hover{
    background: white;
    color: #067969;
}
/* .App{
    padding: 0;
    margin: 0;
} */

/* .glass{
    background-color: #d7d7e611;
} */