@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
body{
    margin: 0;
    background-color: #067969;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    padding: 0rem 2rem;
}
html{
    font-size: 62.5%;
}
div,
ul,
a,
h1,
h2,
p,
img,
button,
input{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* #portal{
    width: 100%;
    position: absolute;
    left: 0;
    border: 2px solid;
    height: 100%;
} */
.btn1{
    padding: .5rem 4rem;
    font-size: 3rem;
    margin-left: 1rem;
    background:none;
    border:.3rem solid white;
    border-radius: .5rem;
    color: white;
    transition: .2s;
}
.btn1:hover{
    background: white;
    color: #067969;
}
.btn2{
    font-size: 2.3rem;
    background-color: #067969;
    margin-left: 0rem;
    margin-top: 2rem;
}
.btn2:hover{
    border: .3rem solid #067969;
}
.input{
    border:none;
    height: 4rem;
    outline: none;
    font-size: 2rem;
    padding-left: .5rem;
    background: transparent;
    letter-spacing: .3rem;
}
.input::placeholder{
    color: white;
    letter-spacing: .1rem;
    
}
#title::placeholder{
    color: #067969;
    letter-spacing: .1rem;
}
textarea::placeholder{
    color: #067969;
    letter-spacing: .1rem;
}
textarea:focus{
    outline: 1px solid #067969;
}
.common-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.handleWidth{
  max-width: 1440px;
  min-width: 63rem;
}

 @media screen and (max-width:660px) {
    .handleWidth{
        min-width: 33rem;
    }
    .taskWrapper{
        margin-right: 0px !important;
    }
    .task{
        width: 100% !important;
    }
}
